/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
/* Global */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #222222;
  background-color: #FFFFFF;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #FFFFFF;
}
a:hover {
  color: #222222;
}
h1 {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 7.5rem;
  color: #FFFFFF;
}
h3 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
h4 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
}
p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
}
/* Imports */
nav {
  background-color: #98A2AE;
}
nav .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7%;
}
nav .top .hamburger-close {
  display: none;
}
@media (max-width: 500px) {
  nav .top {
    padding: 10px 5%;
  }
}
nav .expended {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  display: none;
}
.bottom {
  background-color: #828282;
  color: #FFFFFF;
}
.bottom h5 {
  font-size: 2rem;
  line-height: 2.4rem;
}
@media (max-width: 500px) {
  .bottom h5 {
    line-height: 2.8rem;
  }
}
.bottom p {
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 50px 5% 30px 5%;
}
@media (max-width: 500px) {
  .contact {
    flex-direction: column;
    width: 100%;
    padding: 40px 3% 0 3%;
  }
}
@media (max-width: 500px) {
  .contact form {
    width: 100%;
    margin-bottom: 20px;
  }
}
.contact form h5 {
  margin-bottom: 5px;
}
.contact form input {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
}
@media (max-width: 500px) {
  .contact .address {
    margin-bottom: 15px;
  }
}
footer {
  text-align: center;
}
@media (max-width: 500px) {
  footer {
    text-align: left;
    padding-left: 3%;
  }
}
footer p {
  padding-top: 10px;
  padding-bottom: 10px;
}
header {
  position: relative;
}
header h1 {
  position: absolute;
  bottom: 50px;
  left: 7%;
}
@media (max-width: 500px) {
  header h1 {
    left: 5%;
    bottom: 20px;
    font-size: 5.8rem;
    line-height: 7rem;
  }
}
.content,
.content-reverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 2%;
  padding: 20px 2%;
}
@media (max-width: 500px) {
  .content,
  .content-reverse {
    margin: 0;
    padding: 20px 3%;
  }
}
.content .content-text,
.content-reverse .content-text {
  width: 50%;
}
@media (max-width: 500px) {
  .content .content-text,
  .content-reverse .content-text {
    width: 100%;
  }
}
.content img,
.content-reverse img {
  width: 50%;
}
@media (max-width: 500px) {
  .content img,
  .content-reverse img {
    width: 100%;
    margin-bottom: 20px;
  }
}
.content h3,
.content-reverse h3,
.content p,
.content-reverse p {
  margin-bottom: 20px;
}
.content .btn,
.content-reverse .btn {
  width: 30%;
  min-width: 110px;
  background-color: #FFFFFF;
  color: #222222;
  border: 1px solid #222222;
  border-radius: none;
  border-bottom: 2px solid #616161;
  font-size: 1.6rem;
  text-align: center;
  padding: 10px 5px;
}
.content .btn:hover,
.content-reverse .btn:hover {
  color: #FFFFFF;
  background-color: #222222;
  border: 1px solid #FFFFFF;
  border-top: 2px solid #616161;
  cursor: pointer;
}
@media (max-width: 500px) {
  .content .btn,
  .content-reverse .btn {
    width: 100%;
    padding: 15px 5px;
  }
}
@media (max-width: 500px) {
  .content {
    flex-direction: column-reverse;
  }
}
.content .content-text {
  margin-right: 2%;
}
@media (max-width: 500px) {
  .content .content-text {
    margin-right: 0;
  }
}
.content-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .content-reverse {
    flex-direction: column-reverse;
  }
}
.content-reverse .content-text {
  margin-left: 2%;
}
@media (max-width: 500px) {
  .content-reverse .content-text {
    margin-left: 0;
  }
}
.recent-projects {
  width: 100%;
}
.recent-projects .content-header,
.recent-projects .column-content,
.recent-projects .column-content-reverse {
  margin: 20px 2%;
  padding: 20px 2%;
}
@media (max-width: 500px) {
  .recent-projects .content-header {
    margin: 0 2%;
  }
}
@media (max-width: 500px) {
  .recent-projects .column-content,
  .recent-projects .column-content-reverse {
    margin: 0;
    padding: 0;
  }
}
.recent-projects .column-content,
.recent-projects .column-content-reverse {
  position: relative;
}
.recent-projects .column-content img,
.recent-projects .column-content-reverse img {
  width: 100%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .recent-projects .column-content img,
  .recent-projects .column-content-reverse img {
    margin-bottom: 40px;
  }
}
.recent-projects .column-content h3,
.recent-projects .column-content-reverse h3 {
  width: 35%;
  position: absolute;
  background-color: #D8D8D8;
  padding: 20px 0.5%;
  text-align: center;
  top: 210px;
}
@media (max-width: 500px) {
  .recent-projects .column-content h3,
  .recent-projects .column-content-reverse h3 {
    width: 90%;
    top: 120px;
    left: 5%;
    right: 5%;
  }
}
.recent-projects .column-content p,
.recent-projects .column-content-reverse p {
  margin: 30px 27%;
}
@media (max-width: 500px) {
  .recent-projects .column-content p,
  .recent-projects .column-content-reverse p {
    margin: 30px 5%;
  }
}
.recent-projects .column-content h3 {
  right: 2.1%;
}
header.services {
  position: relative;
}
header.services h1 {
  position: absolute;
  bottom: 10px;
  left: 7%;
}
.services-top-content p {
  margin: 45px;
}
