/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
/* Global */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #222222;
  background-color: #FFFFFF;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #FFFFFF;
}
a:hover {
  color: #222222;
}
h1 {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 7.5rem;
  color: #FFFFFF;
}
h3 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
h4 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
}
p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.6rem;
}
/* Imports */
header {
  position: relative;
}
@media (max-width: 500px) {
  header .header-img {
    display: none;
  }
}
header .mobile-header-img {
  display: none;
}
@media (max-width: 500px) {
  header .mobile-header-img {
    display: block;
    width: 100%;
  }
}
header h1 {
  position: absolute;
  bottom: 50px;
  left: 5%;
}
@media (max-width: 500px) {
  header h1 {
    left: 5%;
    bottom: 30px;
    font-size: 5.4rem;
    line-height: 6.7rem;
  }
}
.content,
.content-reverse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 5%;
}
@media (max-width: 500px) {
  .content,
  .content-reverse {
    margin: 0;
    padding: 30px 5% 0 5%;
  }
}
.content .content-text,
.content-reverse .content-text {
  width: 50%;
}
@media (max-width: 500px) {
  .content .content-text,
  .content-reverse .content-text {
    width: 100%;
  }
}
.content .content-img,
.content-reverse .content-img {
  width: 50%;
}
@media (max-width: 500px) {
  .content .content-img,
  .content-reverse .content-img {
    display: none;
  }
}
.content .mobile-content-img,
.content-reverse .mobile-content-img {
  display: none;
}
@media (max-width: 500px) {
  .content .mobile-content-img,
  .content-reverse .mobile-content-img {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
}
.content h3,
.content-reverse h3,
.content p,
.content-reverse p {
  margin-bottom: 20px;
}
.content .btn,
.content-reverse .btn {
  width: 30%;
  min-width: 110px;
  background-color: #FFFFFF;
  color: #222222;
  border: 1px solid #222222;
  border-radius: none;
  border-bottom: 2px solid #616161;
  font-size: 1.6rem;
  text-align: center;
  padding: 10px 5px;
}
.content .btn:hover,
.content-reverse .btn:hover {
  color: #FFFFFF;
  background-color: #222222;
  border: 1px solid #FFFFFF;
  border-top: 2px solid #616161;
  cursor: pointer;
}
@media (max-width: 500px) {
  .content .btn,
  .content-reverse .btn {
    width: 100%;
    padding: 15px 5px;
  }
}
@media (max-width: 500px) {
  .content {
    flex-direction: column-reverse;
  }
}
.content .content-text {
  margin-right: 2%;
}
@media (max-width: 500px) {
  .content .content-text {
    margin-right: 0;
  }
}
.content-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .content-reverse {
    flex-direction: column-reverse;
  }
}
.content-reverse .content-text {
  margin-left: 2%;
}
@media (max-width: 500px) {
  .content-reverse .content-text {
    margin-left: 0;
  }
}
.recent-projects {
  width: 100%;
}
.recent-projects .content-header,
.recent-projects .column-content,
.recent-projects .column-content-reverse {
  padding: 40px 5%;
}
@media (max-width: 500px) {
  .recent-projects .column-content,
  .recent-projects .column-content-reverse {
    padding: 0;
  }
}
.recent-projects .column-content .content-top,
.recent-projects .column-content-reverse .content-top {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 60px;
}
@media (max-width: 500px) {
  .recent-projects .column-content .content-top,
  .recent-projects .column-content-reverse .content-top {
    width: 100%;
  }
}
.recent-projects .column-content .content-top .projects-img,
.recent-projects .column-content-reverse .content-top .projects-img {
  display: block;
  width: 100%;
}
@media (max-width: 500px) {
  .recent-projects .column-content .content-top .projects-img,
  .recent-projects .column-content-reverse .content-top .projects-img {
    display: none;
  }
}
.recent-projects .column-content .content-top .mobile-projects-img,
.recent-projects .column-content-reverse .content-top .mobile-projects-img {
  display: none;
}
@media (max-width: 500px) {
  .recent-projects .column-content .content-top .mobile-projects-img,
  .recent-projects .column-content-reverse .content-top .mobile-projects-img {
    display: block;
    width: 100%;
  }
}
.recent-projects .column-content .content-top h3,
.recent-projects .column-content-reverse .content-top h3 {
  text-align: center;
  height: 42px;
  position: absolute;
  top: 80%;
  width: 40%;
  min-width: 65px;
  background-color: #D8D8D8;
  padding: 30px 1% 50px 1%;
}
@media (max-width: 500px) {
  .recent-projects .column-content .content-top h3,
  .recent-projects .column-content-reverse .content-top h3 {
    width: 90%;
    top: 95%;
    left: 5%;
    right: 5%;
  }
}
.recent-projects .column-content p,
.recent-projects .column-content-reverse p {
  margin: 20px 27%;
}
@media (max-width: 500px) {
  .recent-projects .column-content p,
  .recent-projects .column-content-reverse p {
    margin: 30px 5%;
  }
}
.recent-projects .column-content h3 {
  right: 0;
}
header.services {
  position: relative;
}
@media (max-width: 500px) {
  header.services .services-header-img {
    display: none;
  }
}
header.services .mobile-services-header-img {
  display: none;
}
@media (max-width: 500px) {
  header.services .mobile-services-header-img {
    display: block;
    width: 100%;
  }
}
header.services h1 {
  position: absolute;
  bottom: 15px;
  left: 5%;
}
.services-top-content p {
  padding: 50px 5%;
}
.tabs {
  padding: 0 5%;
}
.tabs-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .tabs-links {
    flex-direction: column;
    margin-bottom: 30px;
  }
}
.tabs-links .tabs-link {
  border: 1px solid #222222;
  width: 23%;
  padding: 15px 2px;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .tabs-links .tabs-link {
    width: 100%;
    margin: 10px auto;
  }
}
.tabs-links .tabs-link-selected {
  color: #FFFFFF;
  background-color: #5E9EB8;
}
.tabs-items {
  margin-bottom: 80px;
}
@media (max-width: 500px) {
  .tabs-items {
    margin-bottom: 50px;
  }
}
.tabs-item {
  display: none;
}
.tabs-item-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}
@media (max-width: 500px) {
  .tabs-item-selected {
    margin-top: 0;
  }
}
.tabs-item-selected .tabs-item-title {
  width: 100%;
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .tabs-item-selected .tabs-item-title {
    margin-bottom: 30px;
  }
}
.tabs-item-selected .tab-item-text {
  margin-right: 20px;
  width: 50%;
}
@media (max-width: 500px) {
  .tabs-item-selected .tab-item-text {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .tabs-item-selected .tab-item-image {
    display: none;
  }
}
.tabs-item-selected .mobile-tab-item-image {
  display: none;
}
@media (max-width: 500px) {
  .tabs-item-selected .mobile-tab-item-image {
    display: block;
    width: 100%;
  }
}
.tabs-item-content {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.tabs-item-content:first-child {
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .tabs-item-content:first-child {
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .tabs-item-content {
    margin-bottom: 30px;
  }
}
nav {
  background-color: #98A2AE;
  position: fixed;
  z-index: 999;
  width: 100%;
  cursor: pointer;
}
nav .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
}
nav .top h4 a {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
  line-height: 2.4rem;
}
nav .top .hamburger-close {
  display: none;
}
@media (max-width: 500px) {
  nav .top {
    padding: 10px 5%;
  }
}
nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  display: none;
  background-color: #98A2AE;
  height: 100vh;
}
nav .menu--open {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}
nav .menu--open a {
  min-width: 195px;
  margin: 0 auto;
  display: absolute;
}
nav .menu--open a:hover {
  color: #222222;
}
.bottom {
  background-color: #828282;
  color: #FFFFFF;
}
.bottom h5 {
  font-size: 2rem;
  line-height: 2.4rem;
}
@media (max-width: 500px) {
  .bottom h5 {
    line-height: 2.8rem;
    font-size: 2.4rem;
  }
}
.bottom p.footer {
  font-size: 1.4rem;
  line-height: 2.6rem;
}
@media (max-width: 500px) {
  .bottom p.footer {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}
.contact-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 50px 5% 30px 5%;
}
@media (max-width: 500px) {
  .contact-bottom {
    flex-direction: column;
    width: 100%;
    padding: 40px 5% 0 5%;
  }
}
@media (max-width: 500px) {
  .contact-bottom form {
    width: 100%;
    margin-bottom: 20px;
  }
}
.contact-bottom form input {
  width: 100%;
  font-size: 1.6rem;
  margin-top: 20px;
  margin-bottom: 5px;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.contact-bottom .address h5 {
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .contact-bottom .address {
    margin-bottom: 15px;
  }
}
footer {
  text-align: center;
}
@media (max-width: 500px) {
  footer {
    text-align: left;
    padding-left: 3%;
  }
}
footer p.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
header.contact {
  position: relative;
}
@media (max-width: 500px) {
  header.contact .contact-header-img {
    display: none;
  }
}
header.contact .contact-mobile-header-img {
  display: none;
}
@media (max-width: 500px) {
  header.contact .contact-mobile-header-img {
    display: block;
    width: 100%;
  }
}
header.contact h1 {
  position: absolute;
  bottom: 15px;
  left: 5%;
}
.contact-main-content {
  width: 100%;
  margin: 50px auto;
  padding: 0 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .contact-main-content {
    margin-bottom: 30px;
  }
}
@media (max-width: 500px) {
  .contact-main-content {
    flex-direction: column;
  }
}
.contact-main-content .contact-form {
  width: 70%;
}
@media (max-width: 500px) {
  .contact-main-content .contact-form {
    width: 100%;
  }
}
.contact-main-content .contact-form h3 {
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .contact-main-content .contact-form h3 {
    margin-bottom: 50px;
  }
}
.contact-main-content .contact-addresses {
  width: 30%;
}
@media (max-width: 500px) {
  .contact-main-content .contact-addresses {
    width: 100%;
  }
}
.contact-main-content .contact-addresses h3 {
  margin-bottom: 45px;
}
@media (max-width: 500px) {
  .contact-main-content .contact-addresses h3 {
    margin-top: 50px;
  }
}
.contact-main-content .contact-addresses .contact-address p {
  margin-bottom: 50px;
}
.contact-main-content .contact-addresses .contact-address:last-child p {
  margin-bottom: 0;
}
.contact-main-content h4 {
  color: #222222;
  margin-bottom: 10px;
}
form fieldset {
  margin-bottom: 30px;
}
form fieldset legend {
  margin-bottom: 10px;
}
form fieldset .contact-text-input,
form fieldset select,
form fieldset textarea {
  width: 80%;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 10px;
  border: 1px solid darkgray;
}
@media (max-width: 500px) {
  form fieldset .contact-text-input,
  form fieldset select,
  form fieldset textarea {
    width: 100%;
  }
}
form fieldset select {
  max-height: calc(2.4em + 10px);
  height: calc(2.4em + 10px);
  text-indent: 10px;
  background-color: white;
  cursor: pointer;
}
form fieldset p.small-text {
  font-size: 1.2rem;
  line-height: 2.6rem;
}
form .radio-buttons label {
  cursor: pointer;
}
form .radio-buttons input {
  margin-bottom: 10px;
  cursor: pointer;
}
form .btn {
  width: 30%;
  min-width: 110px;
  background-color: #FFFFFF;
  color: #222222;
  border: 1px solid #222222;
  border-radius: none;
  border-bottom: 2px solid #616161;
  font-size: 1.6rem;
  text-align: center;
  padding: 10px 5px;
  width: 25%;
}
form .btn:hover {
  color: #FFFFFF;
  background-color: #222222;
  border: 1px solid #FFFFFF;
  border-top: 2px solid #616161;
  cursor: pointer;
}
@media (max-width: 500px) {
  form .btn {
    width: 100%;
    padding: 15px 5px;
  }
}
.about-us {
  position: relative;
}
@media (max-width: 500px) {
  .about-us .about-us-header-img {
    display: none;
  }
}
.about-us .about-us-mobile-header-img {
  display: none;
}
@media (max-width: 500px) {
  .about-us .about-us-mobile-header-img {
    display: block;
    width: 100%;
  }
}
.about-us h1 {
  position: absolute;
  bottom: 15px;
  left: 5%;
}
.start {
  padding: 30px 5%;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.start p:first-child {
  width: 100%;
  margin-bottom: 35px;
  margin-top: 35px;
  font-weight: bold;
  font-size: 1.9rem;
}
.start p:nth-child(2) {
  width: 45%;
  margin-right: 10%;
}
.start p:nth-child(3) {
  width: 45%;
}
.our-team {
  position: relative;
  margin-bottom: 100px;
}
.our-team h3 {
  position: absolute;
  color: #222222;
  text-transform: uppercase;
  background-color: #D8D8D8;
  width: 30%;
  top: -4rem;
  right: 35%;
  text-align: center;
  height: 8rem;
  padding: 2.6rem 0;
}
.our-team img {
  width: 72%;
  margin: 0 14%;
}
.our-team h4 {
  position: absolute;
  color: rgba(255, 255, 255, 0.9);
  font-size: 3rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 30px;
}
.our-team #alice {
  top: 245px;
  left: 21%;
  transform: rotate(2deg);
  padding-right: 40px;
}
.our-team #mike {
  top: 245px;
  left: 38%;
  transform: rotate(2deg);
  padding-right: 45px;
}
.our-team #helen {
  top: 215px;
  left: 55.7%;
  transform: rotate(13deg);
  padding-right: 35px;
}
.our-team #bela {
  top: 230px;
  left: 71.5%;
  transform: rotate(-7deg);
  padding-right: 35px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  width: 50%;
  margin: 20% auto;
  border: 1px solid #000000;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  animation: modalopen 2s;
}
.modal-content .modal-header .closeBtn {
  color: #cccccc;
  float: right;
  font-size: 3rem;
  padding-top: 20px;
  padding-right: 20px;
}
.modal-content .modal-header .closeBtn:hover,
.modal-content .modal-header .closeBtn:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}
.modal-content .modal-header h3 {
  padding: 20px 30px;
  background-color: #ffffff;
}
.modal-content .modal-body h4 {
  padding: 20px 30px;
}
.modal-content .modal-body p {
  padding: 20px 30px;
  color: lightgray;
}
.modal-alice h3 {
  color: #4292d2;
}
.modal-alice h4 {
  background-color: #4292d2;
}
.modal-alice p {
  background-color: #295e8a;
}
.modal-mike h3 {
  color: #20c1b4;
}
.modal-mike h4 {
  background-color: #20c1b4;
}
.modal-mike p {
  background-color: #106962;
}
.modal-helen h3 {
  color: #ffd400;
}
.modal-helen h4 {
  background-color: #ffd400;
}
.modal-helen p {
  background-color: #a57a03;
}
.modal-bela h3 {
  color: #fd7d87;
}
.modal-bela h4 {
  background-color: #fd7d87;
}
.modal-bela p {
  background-color: #d35560;
}
.testimonials {
  width: 100%;
  margin: 0 auto 60px auto;
  padding: 0 10%;
  background-color: rgba(216, 216, 216, 0.3);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.testimonials h3 {
  position: absolute;
  width: 30%;
  height: 8rem;
  top: -4rem;
  right: 35%;
  text-align: center;
  padding: 2.6rem 0;
  text-transform: uppercase;
  background-color: #D8D8D8;
  z-index: 2;
}
.testimonials div {
  padding: 80px 5% 20px 5%;
}
.testimonials div p {
  margin-bottom: 20px;
  font-style: italic;
}
.testimonials div .testimonials-name {
  float: right;
  font-size: 1.4rem;
  font-weight: bold;
  font-style: normal;
}
.locations {
  position: relative;
  margin-bottom: 100px;
}
.locations h3 {
  position: absolute;
  color: #222222;
  text-transform: uppercase;
  background-color: #D8D8D8;
  width: 30%;
  bottom: -4rem;
  right: 35%;
  text-align: center;
  height: 8rem;
  padding: 2.6rem 0;
  z-index: 2;
}
.location-tabs .tabs-links {
  padding: 0 4%;
  justify-content: flex-start;
  margin-bottom: 0;
}
.location-tabs .tabs-links .tabs-link {
  border-bottom: none;
}
.location-tabs .tabs-links .tabs-link:nth-child(2),
.location-tabs .tabs-links .tabs-link:nth-child(3) {
  border-left: none;
}
.location-tabs .tabs-links .tabs-link-selected {
  background-color: #D8D8D8;
  color: #222222;
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .carousel {
    width: 1200px;
  }
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button:hover,
.carousel .right-button:hover {
  color: black;
  border: 2px solid black;
}
.carousel .left-button {
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
}
.carousel .right-button {
  top: 50%;
  right: 25px;
  transform: translate(0, -50%);
}
.carousel .carousel-city {
  width: 80%;
  height: 500px;
  display: none;
  position: relative;
}
.carousel .carousel-city .carousel-content {
  position: absolute;
  top: 30%;
  right: 0;
  z-index: 4;
  border-radius: 5px 0 0 5px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.85);
  height: 40%;
  animation: sticky 1.5s;
}
.carousel .carousel-city .carousel-content h4 {
  color: #4987fa;
  margin-bottom: 15px;
}
.carousel .carousel-city .carousel-content p {
  color: #505050;
  font-weight: bold;
}
.twitter {
  width: 100%;
  margin: 0 auto 60px auto;
  padding: 30px 20%;
  background-color: rgba(216, 216, 216, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 100px;
}
.twitter .twitter-timeline {
  width: 45%;
}
.twitter .twitter-timeline:first-child {
  margin-right: 10%;
}
.twitter #twitter-widget-0,
.twitter #twitter-widget-1 {
  min-height: 520px !important;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.partners {
  position: relative;
  margin-bottom: 60px;
}
.partners h3 {
  position: absolute;
  color: #222222;
  text-transform: uppercase;
  background-color: #D8D8D8;
  width: 30%;
  top: -4rem;
  right: 35%;
  text-align: center;
  height: 8rem;
  padding: 2.6rem 0;
}
.partners .partners-background {
  width: 64%;
  margin: 0 18%;
}
.partners .partners-logo {
  width: 10%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  position: absolute;
  bottom: 5%;
  right: 20%;
}
.partners .apple {
  padding: 15px;
}
.partners .amazon {
  width: 20%;
  right: 40%;
  padding: 15px;
}
.partners .lambda {
  right: 20%;
  top: 5%;
  width: 14%;
  padding: 10px;
}
.partners .target {
  left: 20%;
  padding: 10px;
}
@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* FROM LEFT TO RIGHT */
@keyframes animateLeft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
.animate-left {
  position: relative;
  animation: animateLeft 1s;
  z-index: 1;
}
@keyframes development {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.development {
  animation: development 3s;
}
/* FROM RIGHT TO LEFT */
@keyframes sticky {
  0% {
    left: 0;
  }
  86% {
    left: 0;
  }
  90% {
    right: 0;
  }
  93% {
    right: -7px;
  }
  96% {
    right: 0;
  }
  98% {
    right: -5px;
  }
  100% {
    right: 0;
  }
}
