// HEADER styling
.about-us {
    position: relative;
    .about-us-header-img {
        @media @tablet2 {
            display: none;
        }
    }
    .about-us-mobile-header-img {
        display: none;
        @media @tablet2 {
            display: block;
            width: 100%;
        }
    }
    h1 {
        position: absolute;
        bottom: 15px;
        left: 5%;
    }
}

// START section
.start {
    padding: 30px 5%;
    margin-bottom: 70px;
    .flex;
    flex-wrap: wrap;
    @media @mobile {
        margin-bottom: 110px;
    }
    p:first-child {
        width: 100%;
        margin-bottom: 35px;
        margin-top: 35px;
        font-weight: bold;
        font-size: 1.9rem;
    }
    p:nth-child(2) {
        width: 45%;
        margin-right: 10%;
        @media @mobile {
            width: 100%;
            margin-right: 0;
            margin-bottom: 35px;
        }
    }
    p:nth-child(3) {
        width: 45%;
        @media @mobile {
            width: 100%;
        }
    }
} //<---- start section


// OUR TEAM section
.our-team {
    position: relative;
    margin-bottom: 100px;
    @media @mobile {
        margin-bottom: 140px;
    }
    // subheader
    h3 {
        position: absolute;
        color: @general-color;
        text-transform: uppercase;
        background-color: #D8D8D8;
        width: 30%;
        top: -4rem;
        right: 35%;
        text-align: center;
        height: 8rem;
        padding: 2.6rem 0;
        @media @tablet1 {
            width: 70%;
            right: 15%;
            top: -5rem;
        }
        @media @mobile {
            width: 90%;
            right: 5%;
            top: -7rem;
        }
    }
    img {
        @media @mobile {
            width: 100%;
            margin: 0 0 0 0;
        }
    }
    // NAME TAGS
    h4 {
        width: 12%;
        position: absolute;
        color: rgba(255, 255, 255,.9);
        font-size: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        padding: 2%;
        text-shadow: 1px 2px 1px rgba(211, 211, 211, 0.7);
        @media @tablet1 {
            font-size: 2rem;
        }
        @media @tablet2 {
            font-size: 1.9rem;
        }
        @media @mobile {
            font-size: 1.6rem;
        }
        &:hover {
            font-size: 3rem;
            @media @tablet1 {
                font-size: 2rem;
            }
            @media @tablet2 {
                font-size: 2rem;
            }
            @media @mobile {
                font-size: 1.7rem;
            }
        }
    }
    #alice {
        top: 44%;
        left: 11.5%;
        transform: rotate(2deg);
        @media @mobile {
            left: 11%;
        }
    }
    #mike {
        top: 44%;
        left: 34.5%;
        transform: rotate(2deg);
    }
    #elen {
        top: 39%;
        left: 60.5%;
        transform: rotate(13deg);
    }
    #bela {
        top: 42%;
        left: 81%;
        transform: rotate(-7deg);
    } // <---- name tags
}


// MODALS
// styling for the modal viewport
.modal {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

// styling for the modal "card"
.modal-content {
    width: 50%;
    margin: 20% auto;
    border: 1px solid  rgb(0,0,0);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    animation: modalopen 2s;
    @media @mobile {
        width: 90%;
    }
    .modal-header {
        .closeBtn {
            color: rgb(204, 204, 204);
            float: right;
            font-size: 3rem;
            padding-top: 20px;
            padding-right: 20px;
            &:hover, &:focus {
                color: rgb(0, 0, 0);
                text-decoration: none;
                cursor: pointer;
            }
        }
        h3 {
            padding: 20px 30px;
            background-color: rgb(255,255,255);
        }
    }
    .modal-body {
        h4 {
            padding: 20px 30px;
        }
        p {
            padding: 20px 30px;
            color: lightgray;
        }
    }
}
// individual styling for modal "cards"
.modal-alice {
    h3 {
        color: rgb(66, 146, 210);
    }
    h4 {
        background-color: rgb(66, 146, 210);
    }
    p {
        background-color: rgb(41, 94, 138);
    }
}
.modal-mike {
    h3 {
        color: rgb(32, 193, 180);
    }
    h4 {
        background-color: rgb(32, 193, 180);
    }
    p {
        background-color: rgb(16, 105, 98);
    }
}
.modal-elen {
    h3 {
        color: rgb(255, 212, 0);
    }
    h4 {
        background-color: rgb(255, 212, 0);
    }
    p {
        background-color: rgb(165, 122, 3);
    }
}
.modal-bela {
    h3 {
        color: rgb(253, 125, 135);
    }
    h4 {
        background-color: rgb(253, 125, 135);
    }
    p {
        background-color: rgb(211, 85, 96);
    }
}


//TESTIMONIALS section
.testimonials {
    width: 100%;
    margin: 0 auto 60px auto;
    padding: 0 10%;
    background-color: rgba(216, 216, 216, 0.3);
    position: relative;
    .flex(space-between; baseline);
    @media @tablet1 {
        padding: 0 2%;
    }
    @media @tablet2 {
        flex-wrap: wrap;
        padding-top: 20px;
    }
    // Subheader
    h3 {
        position: absolute;
        width: 30%;
        height: 8rem;
        top: -4rem;
        right: 35%;
        text-align: center;
        padding: 2.6rem 0;
        text-transform: uppercase;
        background-color: #D8D8D8;
        z-index: 2;
        @media @tablet1 {
            width: 70%;
            right: 15%;
            top: -5rem;
        }
        @media @mobile {
            width: 90%;
            right: 5%;
            top: -7rem;
        }
    }
    div {
        padding: 80px 5% 20px 5%;
        @media @mobile {
            width: 100%;
            padding-top: 40px;
        }
        p {
            margin-bottom: 20px;
            font-style: italic;

        }
        .testimonials-name {
            float: right;
            font-size: 1.4rem;
            font-weight: bold;
            font-style: normal;
        }
    }
}

// CAROUSEL
// Locations container and header
.locations {
    position: relative;
    margin-bottom: 100px;
    padding: 0;
    margin: 0 auto;
    // Subheader
    h3 {
        position: absolute;
        color: @general-color;
        text-transform: uppercase;
        background-color: rgb(216, 216, 216);
        width: 30%;
        bottom: -4rem;
        right: 35%;
        text-align: center;
        height: 8rem;
        padding: 2.6rem 0;
        z-index: 2;
        @media @tablet1 {
            width: 70%;
            right: 15%;
            bottom: -5rem;
        }
        @media @mobile {
            width: 90%;
            right: 5%;
            bottom: -7rem;
        }
    }
}

// Location tabs styling
.location-tabs {
    width: 59.5%;
    margin: 0 auto;
    padding: 0;
    @media @tablet1 {
        padding: 0;
        width: 100%;
    }
    .tabs-links {
        width: 100%;
        justify-content: center;
        padding: 0;
        margin-bottom: 0;
        color: rgba(0, 0, 0, 0.4);
        @media @tablet1 {
            flex-direction: row;
            padding: 0;
            margin-bottom: 0;
        }
        .tabs-link {
            flex: 1;
            &:nth-child(2), &:nth-child(3) {
                border-left: none;
            }
            @media @tablet1 {
                margin: 0;
                flex: 1;
            }
        }
        .tabs-link-selected {
            background-color: rgb(216, 216, 216);
            color: @general-color;
        }
    }
    
}

// Carousel styling
.carousel {
    width: 100%;
    .flex(center, center);
    height: 500px;
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
    @media(min-width: 1200px){
      width: 1200px;
    }
    // Buttons
    .left-button, .right-button {
      .flex(center);
      color: black;
      @media @tablet1 {
        color: rgba(0, 0, 0, .6);
      }
      background-color: white;
      font-size: 40px;
      border-radius: 50%;
      position: absolute;
      width: 50px;
      height: 50px;
      cursor: pointer;
      &:hover {
        color: black;
        border: 2px solid black;
        @media @tablet1 {
            border: none;
            background-color: rgba(216, 216, 216, 0.5);
            z-index: 99;
        }
      }
      @media @tablet1 {
          position: absolute;
          width: 25px;
          height: 100%;
          font-size: 20px;
          border-radius: 0;
          background-color: transparent;
      }
    }
    .left-button {
      top: 50%; 
      left: 25px;
      transform: translate(0, -50%);
      @media @tablet1 {
        left: 0;
        z-index: 3;
        }
    }
    .right-button {
      top: 50%; 
      right: 25px;
      transform: translate(0, -50%);
      @media @tablet1 {
          right: 0;
          z-index: 3;
      }
    } // <---- buttons
    .carousel-city {
        width: 80%;
        height: 500px;
        display: none;
        position: relative;
        @media @tablet1 {
            width: 100%;
        }
        // Added content card (address)
        .carousel-content {
            position: absolute;
            top: 30%;
            right: 0;
            z-index: 4;
            border-radius: 5px 0 0 5px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.85);
            height: 40%;
            animation: sticky 1.5s;
            @media @tablet1 {
                top: 2%;
            }
            @media @tablet2 {
                padding: 5px 10px;
                height: 18.3%;
            }
            h4 {
                color: #4987fa;
                margin-bottom: 15px;
                @media @tablet2 {
                    margin-bottom: 10px;
                    font-size: 1.6rem;
                }
            }
            p {
                color: #505050;
                font-weight: bold;
                @media @tablet2 {
                    font-size: 1.2rem;
                    line-height: 1.4rem;
                }
            }
        } // <---- Added content card
    }
}

// TWITTER FEED
.twitter {
    width: 100%;
    margin: 0 auto 60px auto;
    padding: 30px 20%;
    background-color: rgba(216, 216, 216, 0.3);
    .flex(space-between; flex-start);
    margin-bottom: 100px;
    @media @tablet1 {
        padding: 30px 10%;
    }
    @media @tablet2 {
        flex-wrap: wrap;
    }
    @media @mobile {
        padding: 30px 5%;
    }
    .twitter-timeline {
        width: 45%;
        @media @tablet2 {
            width: 100%;
        }
        &:first-child {
            margin-right: 10%;
            @media @tablet2 {
                margin-right: 0;
            }
        }
    }
    // Elements created dynamically from Twitter side
    #twitter-widget-0, #twitter-widget-1 {
        min-height: 600px !important;
        height: 100%;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        @media @tablet2 {
            min-height: 0px !important;
        }
    }
    // to add margin between two tweets in tablet view
    .clear {
        display: none;
        @media @tablet2 {
            display: block;
            height: 30px;
            width: 100%;
        }
    }
}

// PARTNERS SECTION
.partners {
    position: relative;
    margin-bottom: 60px;
    // Subheader
    h3 {
        position: absolute;
        color: @general-color;
        text-transform: uppercase;
        background-color: #D8D8D8;
        width: 30%;
        top: -4rem;
        right: 35%;
        text-align: center;
        height: 8rem;
        padding: 2.6rem 0;
        @media @tablet1 {
            width: 70%;
            right: 15%;
            top: -5rem;
        }
        @media @mobile {
            width: 90%;
            right: 5%;
            top: -7rem;
        }
    }
    // Background image
    .partners-background {
        width: 64%;
        margin: 0 18%;
        @media @tablet1 {
            width: 100%;
            margin: 0;
        }
    }
    .partners-logo {
        width: 10%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        position: absolute;
        bottom: 5%;
    }
    .apple {
        padding: 15px;
        right: 20%;
        @media @tablet1 {
            width: 20%;
            right: 5%;
        }
    }
    .amazon {
        width: 20%;
        right: 40%;
        padding: 15px;
        @media @tablet1 {
            width: 36%;
            right: 32%;
        }
    }
    .lambda {
        right: 20%;
        top: 5%;
        width: 14%;
        padding: 10px;
        @media @tablet1 {
            width: 20%;
            right: 5%;
            top: 8%;
        }
    }
    .target {
        left: 20%;
        padding: 10px;
        @media @tablet1 {
            width: 20%;
            left: 5%;
        }
    }
}


// ======= ANIMATIONS ==================

// Animation for modal content card
@keyframes modalopen {
    from {opacity: 0;}
    to {opacity: 1;}
}

// Animations for slides (carousel, pressing right/left arrows)
/* FROM LEFT TO RIGHT */
@keyframes animateLeft {
from {
    left: -300px;
    opacity: 0;
}
to {
    left: 0;
    opacity: 1;
}
}
.animate-left {
position: relative;
animation: animateLeft 1s;
z-index: 1;
}

//   Animation for slides (Carousel, using name-tabs)
@keyframes development {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
.development {
animation: development 3s;
} 


// Animation for carousel content blocks
/* FROM RIGHT TO LEFT */
@keyframes sticky {
    0% {
        left: 0;
    }
    86% {
        left: 0;
    }
    90% {
        right: 0;
    }
    93% {
        right: -7px;
    }
    96% {
        right: 0;

    }
    98% {
        right: -5px;
    }
    100% {
        right: 0;
    }
}