// HEADER styling
.about-us {
    position: relative;
    .about-us-header-img {
        @media @mobile {
            display: none;
        }
    }
    .about-us-mobile-header-img {
        display: none;
        @media @mobile {
            display: block;
            width: 100%;
        }
    }
    h1 {
        position: absolute;
        bottom: 15px;
        left: 5%;
    }
}

.about-us-main-content {
    .start {
        padding: 30px 5%;
        p:first-child {
            margin-bottom: 20px;
        }
    }
    h3 {
        padding: 20px 5%;
    }
    .our-team {
        position: relative;
        margin-bottom: 30px;
        img {
            width: 80%;
            margin: 0 10%;
        }
        h4 {
            position: absolute;
            color: rgba(255, 255, 255,.9);
            font-size: 3rem;
            text-transform: uppercase;
            cursor: pointer;
            padding: 30px;
            // border: 1px solid red;
        }
        #alice {
            top: 190px;
            left: 16.5%;
            transform: rotate(2deg);
            padding-right: 40px;
        }
        #mike {
            top: 190px;
            left: 35.3%;
            transform: rotate(2deg);
            padding-right: 45px;
        }
        #helen {
            top: 167px;
            left: 54.5%;
            transform: rotate(13deg);
            padding-right: 35px;
        }
        #bela {
            top: 187px;
            left: 72.6%;
            transform: rotate(-7deg);
            padding-right: 35px;
        }
    }
    .cards {
        // width: 100%;
        // height: 100vh;
        // z-index: 2;
        .card {
            display: none;
            width: 50%;
            margin: 0 25%;
            border: 1px solid  rgb(100, 190, 190);
            border-radius: 10px;
            h3 {
                color:  rgb(59, 112, 112);
                padding: 20px 30px;
            }
            h4 {
                background-color: rgb(100, 190, 190);
                padding: 20px 30px;
            }
            p {
                background-color: rgba(100, 190, 190, 0.4);
                padding: 20px 30px;
            }
        }
    }


}