.bottom {
    background-color: #828282;
    color: @footer-color;
    h5 {
        font-size: 2rem;
        line-height: 2.4rem;
    }
    p {
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
}
.contact {
    .flex(space-between; baseline);
    padding: 50px 5% 30px 5%;
    form {
        h5 {
            margin-bottom: 5px;
        }
        input {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 5px;
        }
    }
}

// CONTACT

// FOOTER
footer {
    text-align: center;
    p {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}