nav {
    background-color: #98A2AE;
    .top{
        .flex;
        padding: 10px 7%;
        .hamburger-close {
            display: none;
        }
    }
    .expended {
        .flex(space-between, flex-start);
        flex-direction: column;
        display: none;
    }
}