nav {
    background-color: #98A2AE;
    position: fixed;
    z-index: 1;
    width: 100%;
    .top{
        .flex;
        padding: 10px 7%;
        .hamburger-close {
            display: none;
        }
        @media @mobile {
            padding: 10px 5%;
        }
    }
    .expended {
        .flex(space-between, flex-start);
        flex-direction: column;
        display: none;
    }
}