// HEADER styling
header.services {
    position: relative;
    h1 {
        position: absolute;
        bottom: 10px;
        left: 7%;
    }
}

// TOP CONTENT styling
.services-top-content {
    p {
        margin: 5%;
    }
}

// TAB COMPONENT styling

.tabs {
    margin: 0 5%;
}
.tabs-links {
    .flex;
    margin-bottom: 40px;
    .tabs-link {
        border: 1px solid @dark-gray;
        width: 23%;
        padding: 15px 2px;
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
    }
    .tabs-link-selected {
        color: @white;
        background-color: #5E9EB8;
    }
}

.tabs-items {
    margin-bottom: 80px;
}

.tabs-item {
    display: none;
}

.tabs-item-selected {
    .flex;
    flex-wrap: wrap;
    .tabs-item-title {
        width: 100%;
        font-weight: bold;
        font-size: 2.8rem;
        margin-bottom: 15px;
    }

    margin: 10px 0;
    .tab-item-text {
        margin-right: 20px;
        width: 50%; 
    }
}

// .tabs-item-hidden {
//     display: none;
// }
    
.tabs-item-content {
    font-size: 1.6rem;
    line-height: 2.4rem;
    &:first-child {
        margin-bottom: 40px;
    }
}