// HEADER styling
header.services {
    position: relative;
    h1 {
        position: absolute;
        bottom: 10px;
        left: 7%;
        // @media @mobile {
        //     left: 5%;
        //     bottom: 20px;
        //     font-size: 5.8rem;
        //     line-height: 7rem;
        // }
    }
}

// TOP CONTENT styling
.services-top-content {
    p {
        margin: 45px;
    }
}