// Colors
@white: #FFFFFF;
@dark-gray: #222222;

// Color assignments
@general-color: @dark-gray;
@general-background: @white;
@header-color: @white;
@subheaders-color: @dark-gray;
@footer-header-color: @white;
@logo-color: @white;
@nav-color: @white;
@nav-hover-color: @dark-gray;

//mobile
@mobile: (max-width: 500px);